.rojo{
    background-color: red;
}

.verde{
    background-color: green;
}

.gris{
    background-color: grey;
}

.user{
    width: 60px;
    border-radius: 10px;
}

.userdiv{
    text-align: right;
    
}

button{
    border-radius: 20px;
}

.tooltip{
    position: relative;
    display: inline-block;
}

.tooltip:hover::after{
    content: attr(title);
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}